.ddrum{
    display: flex;
    
}
.drum{
    height: 50px;
    width: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    justify-content: space-evenly;
    gap: 2px;
    margin-left: 20px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    color:gray;

}